body {
    background-image: url("../img/pattern.jpg");
    margin: 0;
}

header {
    top: 0px;
    right: 0px;
    left: 0px;
    position: fixed;
    background-color: white;
}

header nav {
    float: right;
}

ul li {
    display: inline;
    float: left;
    text-decoration: none;
    padding-left: 25px;
    color: blue;
    font-size: large;
}

ul:last-child {
    padding-right: 35px;
}

section {
    padding: 20px 15px 20px 15px;
    margin-top: 65px;
    margin-right: 250px;
    margin-left: 250px;
    background-color: white;
}

h1 {
    text-align: center;
    padding-top: 0px;
    margin-bottom: 0px;
}

article {
    border-bottom: 2px solid rgba(0, 0, 0, 0.226);
    padding-top: 45px;
    padding-bottom: 5px;
}

#article-list a {
    text-decoration: none;
}

footer {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 15px;
    margin-bottom: 40px;
    background-color: black;
    text-align: center;
    color: white;
}
